<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Origin</th>
        <th scope="col">Destination</th>
        <th scope="col">Distance</th>
        <th scope="col">Delay</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let route of routes">
        <td>{{ route.id }}</td>
        <td>{{ route.origin }}</td>
        <td>{{ route.destination }}</td>
        <td>{{ route.distance }}</td>
        <td>{{ route.delay }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
